.btnFirst {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: 0;
    border-Radius: 10px;
}
.btnSecond {
    background-color: tomato;
    color: red;
    padding: 10px 20px;
    border: 0;
    border-Radius: 10px;
}

.btn_area {
    position: fixed;
    bottom: 0;
    width: 100%;
}
